Flask==3.0.3
requests==2.31.0
requests-oauthlib==2.0.0
json5==0.9.22
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
async-lru==2.0.4
async-timeout==4.0.3
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.5.1
beautifulsoup4==4.12.3
razdel==0.5.0
natasha==1.6.0
navec==0.10.0
slovnet==0.6.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
transliterate==1.10.2
nltk==3.8.1
